<%- include("./layout/header.ejs") %>


        <main>

            <section class="Hero">
                <h1 style="text-align: center; font-size: 25px;">Calm Down!!! This page will be live soon</h1>
               
           </section>

        
       
  
        </main>



        <%- include("./layout/footer.ejs") %>