<%- include("./layout/header.ejs") %>


        <main>

            <section class="Hero">
                <h1 style="text-align: center;">This is Group_G project work. Below are the participants with their details</h1>
               <ul class="team">
                  <li> Samson Jonathan( group leader) UI/UX 07064524745</li>
                  <li>Akanji Lawrence (Asst group leader) Fullstack engineer 08165999946.</li>

                  <li>.Olasode Adesola UI/UX 08124556532.</li>

                  <li>Khadijat Rasaq Frontend 09049398861</li>

                  <li>Simeon Jijoho Product Mgt. 08103439470.</li>

                  <li>.Ikwuka Martin Somto Backend 0806 344 3193.</li>


               </ul>
           
           </section>

        
       
  
        </main>



        <%- include("./layout/footer.ejs") %>