<%- include("./layout/header.ejs") %>

        <main>
            <section class="Hero">
                <h1>Welcome to <span>In-KAMPUS</span> </h1>
                <p>Learning Beyond Bounderies</p>
           </section>

           <section class="zig_zag"></section>
          <section class="intro_section">

           
                <div class="intro_section_heading"><h2>Features Specially Made For You</h2>
                <p>We are always available to provide the best for our amiable students.</p>
              </div>
                

                <div class="intro_article_ctn">
                   
                  <article>
                      <div class="heading-ctn">
                          <p>Student Feedback</p>
                          <img src="/images/icon_arrow.png" alt="icon_arrow">
                      </div>
                      
                      <img src="/images/article _image.png" alt="feature_img" />

                      <div>
                          <h3>Student Feedback</h3>
                      <p>Tell us what you have in mind. State your challenges, fears, and your suggestions for the success of the campus..</p>
                      </div>
                    
                    </article>
                  <article>
                      <div class="heading-ctn">
                          <p>Transport Efficiency</p>
                          <img src="/images/icon_arrow.png" alt="icon_arrow">
                      </div>
                      <img src="/images/article _image.png" alt="feature_img" />

                      <div>
                          <h3>Transport Efficiency</h3>
                      <p>Tell us what you have in mind. State your challenges, fears, and your suggestions for the success of the campus..</p>
                      </div>
                    
                    </article>
                  <article>
                      <div class="heading-ctn">
                          <p>Campus Navigation</p>
                          <img src="/images/icon_arrow.png" alt="icon_arrow">
                      </div>
                      <img src="/images/article _image.png" alt="feature_img" />

                      <div>
                          <h3>Campus Navigation</h3>
                      <p>Tell us what you have in mind. State your challenges, fears, and your suggestions for the success of the campus..</p>
                      </div>
                    
                    </article>
                  

                </div>

        </section>
        
              
          <section class="News">

              <div class="News_controller">
                  <h2>Recent News</h2>
                  <span>
                      <img src="/images/icon-arrow_back.png" alt="icon_arrow">
                      <img src="/images/icon_arrow.png" alt="icon_arrow">
                  </span>
                 
             </div>

            <div class="article_cnt">

                <article>
                    
                    <img src="/images/article _image.png" alt="feature_img">


                    <div>
                        <span>
                          <img src="/images/calendar_month.png" alt="icon_month">
                          <p>30/04/2024</p>
                        </span>
                        <h3>Faculty Sportlight</h3>

                        <p>All 100 level students are now expected to check their portals for their result. Also, the carry over students who sat for the exam are expected to check their port... <a href="">Read more >> </a> </p> 
                    
                  </div>
                </article>
                
                <article>
                    
                    <img src="/images/article _image.png" alt="feature_img">


                    <div>
                        <span>
                          <img src="/images/calendar_month.png" alt="icon_month">
                          <p>30/04/2024</p>
                        </span>
                        <h3>Faculty Sportlight</h3>

                        <p>All 100 level students are now expected to check their portals for their result. Also, the carry over students who sat for the exam are expected to check their port... <a href="">Read more >> </a> </p> 
                    
                  </div>
                </article>
                
                <article>
                    
                    <img src="/images/article _image.png" alt="feature_img">


                    <div>
                        <span>
                          <img src="/images/calendar_month.png" alt="icon_month">
                          <p>30/04/2024</p>
                        </span>
                        <h3>Faculty Sportlight</h3>

                        <p>All 100 level students are now expected to check their portals for their result. Also, the carry over students who sat for the exam are expected to check their port... <a href="">Read more >> </a> </p> 
                    
                  </div>
                </article>
              
            </div>

          </section>

          <section class="subscription">
            <div></div>

            <div>
                <h3>Be the first to get updates</h3>
                <p>Signup for our weekly newsletter</p>
                <div class="input_ctn">
                  <input type="text" placeholder="Enter Gmail Account">
                  <button>Subscribe</button>
                </div>
               
            </div>
          </section>
        </main>



        <%- include("./layout/footer.ejs") %>