<footer>
  <div class="icon_social_cnt">
    <img src="/images/facebook.png" alt="icon_fbk">
    <img src="/images/instagram.png" alt="icon_instagram">
    <img src="/images/twiter.png" alt="icon_twitter">
    <img src="/images/linkedin.png" alt="icon_linkedin">
  </div>
  <div class="quick_links">
    <a href=""> About</a>
    <a href=""> Contact us</a>
    <a href=""> FAQS</a>
    <a href=""> Ters and conditions</a>
    <a href=""> Privacy</a>
  </div>

  <div class="copywrite">
    <p>Copyright © 2024 - In-Kampus</p>
    <p>TechyJaunt Group G Project</p>
  </div>


   
</footer>




</body>
</html>

